<div class="buttons">
  <button class="toggle" *ngIf="show" (click)="toggleOnlyItems()">Items only</button>
  <button class="toggle" *ngIf="show" (click)="toggleOnlyGames()">Games only</button>
</div>
<div class="scene" *ngIf="itemsList">
  <app-item *ngFor="let item of itemsList" [item]="item" [isLogged]="isLogged?.source?._value"></app-item>
  <p *ngIf="itemsList.length===0">No items!</p>
</div>

<!--<section *ngIf="itemsList">-->
<!--  <app-item *ngFor="let item of itemsList" [item]="item"></app-item>-->
<!--  <p *ngIf="itemsList.length===0">No items!</p>-->
<!--</section>-->
