<div class="background-wrapper">
  <div class="wrapper">
    <h1>Login</h1>
    <form [formGroup]="form" (ngSubmit)="submitHandler()">
      <!--      Email fields-->
      <div class="field">
        <label for="email"></label>
        <input type="text" name="email" id="email" formControlName="email" placeholder="Example@domain.com"/>
      </div>
      <!--      Password fields-->
      <div class="field">
        <label for="password"></label>
        <input type="password" name="password" id="password" formControlName="password" placeholder="••••••••"/>
      </div>
      <!--      Link to register-->
      <div class="register">
        <a routerLink="/register">Not a member, sign up here.</a>
      </div>
      <!--      Remember me button-->
      <div class="remember">
        <input type="checkbox" value="rememberMe">
        <label for="">Remember me?</label>
      </div>
      <!--      Login button (submit)-->
      <div class="submit">
        <button>Sign In</button>
      </div>
    </form>
  </div>
</div>
